<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cash.mapper.CashMapper">
	
	<!-- 월별 입출금 내역 조회 -->
	<select id="selectCashbookListByMonth"
			parameterType="java.util.Map"
			resultType="com.goodee.cash.vo.Cashbook">
		
		SELECT
			cashbook_no cashbookNo,
			category,
			price,
			cashbook_date cashbookDate
			FROM cashbook
		WHERE member_id = #{memberId}
		AND YEAR(cashbook_date) = #{targetYear}
		AND MONTH(cashbook_date) = #{targetMonth}
		ORDER BY cashbook_date ASC
	</select>
	
	<!-- 일별 입출금 내역 조회 -->
	<select id="selectCashbookListByDate"
			parameterType="java.util.Map"
			resultType="com.goodee.cash.vo.Cashbook">
		
		SELECT 
			cashbook_no cashbookNo,
			category,
			price,
			cashbook_date cashbookDate,
			memo
		FROM cashbook
		WHERE member_id = #{memberId}
		AND cashbook_date = #{cashbookDate}
		ORDER BY cashbook_date DESC
	</select>
	
	<!-- 입출금 상세내역 조회 -->
	<select id="selectCashbookOne"
			parameterType="int"
			resultType="com.goodee.cash.vo.Cashbook">
	
		SELECT
			cashbook_no cashbookNo,
			category,
			price,
			cashbook_date cashbookDate,
			memo,
			createdate,
			updatedate
		FROM cashbook
		WHERE cashbook_no = #{cashbookNo}			
	</select>
	
	<!-- 해당월 수입, 지출 합계, 잔액 조회 -->
	<select id="totalIncomeAndExpense"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			COALESCE(SUM(CASE WHEN category = '수입' THEN price ELSE 0 END),0) totalIncome,
			COALESCE(SUM(CASE WHEN category = '지출' THEN price ELSE 0 END),0) totalExpense,
			COALESCE(SUM(CASE WHEN category = '수입' THEN price ELSE 0 END) 
			- SUM(CASE WHEN category = '지출' THEN price ELSE 0 END),0) balance
		FROM cashbook
		WHERE 
			YEAR(cashbook_date) = #{targetYear} 
			AND MONTH(cashbook_date) = #{targetMonth} 
			AND member_id = #{memberId}
	</select>
	
	<!-- 입출금 내역 등록 -->
	<insert id="addCashbook" 
			parameterType="com.goodee.cash.vo.Cashbook">
			
		<selectKey order="AFTER" keyProperty="cashbookNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO cashbook(
			member_id,
			category,
			cashbook_date,
			price,
			memo,
			createdate,
			updatedate
		) VALUES(
			#{memberId},
			#{category},
			#{cashbookDate},
			#{price},
			#{memo},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 입출금 내역 수정 -->
	<update id="modifyCashbook"
			parameterType="com.goodee.cash.vo.Cashbook">
		
		UPDATE cashbook
		SET category = #{category},
			price = #{price},
			memo = #{memo},
			updatedate = NOW()
		WHERE cashbook_no = #{cashbookNo}	
	</update>
	
	<!-- 입출금 내역 삭제 -->
	<delete id="removeCashbook" parameterType="int">
		DELETE FROM cashbook WHERE cashbook_no = #{cashbookNo}
	</delete>
	
	<!-- 최초 가계부 작성 년도 조회 -->
	<select id="getCashCreatedate">
		SELECT 
			MIN(createdate) firstCreatedate 
		FROM cashbook 
		WHERE 
			member_id = #{memberId}
	</select>
	
	<!-- 월 별 수입/지출 통계 조회 -->
	<select id="getIncomeAndExpenseData"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    YEAR(createdate) year,
		    MONTH(createdate) MONTH,
		    COALESCE(SUM(case when category = '수입' then price ELSE 0 END),0) totalIncome,
		    COALESCE(SUM(case when category = '지출' then price ELSE 0 END),0) totalExpense
		FROM
		    cashbook
		WHERE
		    YEAR(createdate) = #{year} AND member_id = #{memberId}
		GROUP BY
		    YEAR(createdate), MONTH(createdate)
	</select>
</mapper>